.tab{
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    
    &.active{
        border-radius: 10px;
        background: #323537;
        padding: 16px 88px;
        cursor: pointer;

        &:hover {
            color: inherit;
        }
    }

    &.disabled {
        color: #80858B;
        background: #242426;
        padding: 16px 88px;
        border-radius: 10px 0 0 10px;
        cursor: pointer;
        
        &:hover {
            color: inherit;
        }

        }
    }

