.film-card{
    width: 266px;


    &-title{
        cursor: pointer;
        transition: all ease 0.4s;
        width: 266px;
        text-align: center;


        &:hover{
            color: #7B61FF;
        }
    }

    &-image{
    transition: transform 0.3s;
    
    & img{
        border-radius: 10px;
        max-width: 226px;
        min-height: 356px;
        transition: all ease 0.5s;
    }
    
    &:hover{
    cursor: pointer;
    transform: scale(0.92);
}
}
}