.sign-up{

    &-form{
        margin-top: 91px;
        margin-bottom: 87px;
        width: 494px;
        background: #242426;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;


        &-description{
            display: flex;
            justify-content: center;
            color: #80858B;

            & a{
                color: #7B61FF;
            }

        }

    }    
}