.menu{

    &-svg{
       svg{
        fill: white;
       }
    }
    
    &-list{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &-list-item{
       
    & svg path{
        transition: all ease 0.3s;
    }

    & a{
        color: #80858B;
        transition: all ease 0.3s;
    }

    &:hover a{
        color: #917CFF;
    }

    &:hover svg path{
        fill: #917CFF;
    }

    }

    &-list-link{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

