.list{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;

   &-button{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: #fff;
      padding: 8px 24px;
      border-radius: 40px;
      background: #323537;
      max-width: 161px;
      max-height: 40px;
      transition: all ease 0.4s;
      margin-top: 10%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      &:hover{
         background: #AFB2B6;
      }
   }
}

// .block{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 40px;
// }