.settings-page{
    display: flex;
    gap: 184px;
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 1186px;
    width: 100%;
    

    &-buttons{
        display: flex;
        align-self: flex-end;
        gap: 40px;
        width: 50%;
    }


    &-profile{


        &-title{
            margin-bottom: 16px;
        }


        &-info{
            background-color: #242426;
            display: flex;
            gap: 40px;
            border-radius: 10px;
            padding: 40px;


            &.light{
                background-color: #fff;
                border: 2px solid #AFB2B6;
            }
        }

       
    }


    &-password{


        &-title{
            margin-bottom: 16px;
        }



        &-info{
            background-color: #242426;
            display: flex;
            gap: 40px;
            border-radius: 10px;
            padding: 40px;
            
           
            &.light{
                background-color: #fff;
                border: 2px solid #AFB2B6;
            }
        }


    }


    &-color-mode{
        margin-bottom: 48px;

        &-title{
            margin-bottom: 16px;
        }

        &-info{
            background-color: #242426;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-radius: 10px;
            padding: 24px 40px;


            &.light{
                background-color: #fff;
                border: 2px solid #AFB2B6;
            }
        }

    }
}

.old-password{
    display: flex;
    gap: 40px;
    width: 100%;
}


.new-password{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
}


.color-mode-dark-text{
    font-weight: 500;
    line-height: 24px;
    color: #AFB2B6;
}