.sign-in{
   
    
    &-message{
        margin-bottom: 40px;
    }

    &-form{
       background: #242426;
       margin: 182px auto;
       padding: 40px;
       border-radius: 10px;
       width: 494px;

       &-message{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        color: #80858B;

        & a{
            color: #7B61FF;
        }

       }

       &-title{
            margin-bottom: 40px;
       }
    }

    
}


.input-message{
    font-size: 14px;
    line-height: 24px;
    color: #80858B;
    margin-bottom: 40px;
}

.email-input{
    margin-bottom: 24px;
}